<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Francisco Palau</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PresentacionUI.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-primary ">
            <div class="container-fluid">
                <a class="navbar-brand text-white fw-bold" asp-area="" asp-page="/Index">Francisco Palau</a>        
                <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto text-end"> 
                        <li class="nav-item">
                            <a class="nav-link text-white fw-semibold" asp-area="" asp-page="/Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white fw-semibold" asp-area="" asp-page="/Doctores">Doctores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white fw-semibold" asp-area="" asp-page="/Citas">Cita</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white fw-semibold" asp-area="" asp-page="/Contacto">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer-clinica">
        <div class="container">
            <div class="d-flex flex-column flex-md-row
                justify-content-between
                align-items-center py-4">
                <div>
                    <h5 class="mb-1 fw-bold">
                        Clínica Francisco Palau.
                    </h5>
                    <small>
                        Cuidando tu salud y bienestar.
                    </small>
                </div>
            </div>
            <hr>
            <div class="text-center pb-3">
                <small>
                    © 2026 Clínica Francisco Palau. Todos los derechos reservados.
                </small>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>